/* SUCCESS SECTION */
#success {
  display: flex;
  width: 100%;
  padding: 149px 24px 70px 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

/* SUCCESS MESSAGE */
.success-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400);
  margin-bottom: 263px;
}

/* EMAIL */
span.email {
  font-family: var(--font-family-bold);
  color: var(--color-blue-800);
}

/* LOGO */
.icon-success {
  width: 64px;
  height: 64px;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  #success {
    /* layout */
    width: 504px;
    padding: var(--spacing-800);
    /* style */
    border-radius: 36px;
    background-color: var(--color-white);
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.25);
  }

  .success-message {
    margin-bottom: var(--spacing-400);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}