button,
.btn {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: var(--spacing-200) var(--spacing-600);
  /* style */
  border-radius: 8px;
  background: var(--color-blue-800);
  /* typography */
  font-family: var(--font-family-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: var(--color-white);
}

button:hover,
button:active,
.btn:hover,
.btn:active {
  border-radius: 8px;
  background: var(--color-gradient);
  box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.50);
}