/* FORM */
form {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  width: 100%;
}

/* INPUT GROUP */
.input-group {
  /* layout */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-100);
  /* position */
  position: relative;
}

/* LABEL */
/* Use typography preset 3 */

/* INPUT */
input {
  /* layout */
  width: 100%;
  height: 56px;
  padding: var(--spacing-200) var(--spacing-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* style */
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  /* typography */
  font-family: var(--font-family-regular);
  color: var(--color-blue-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input::placeholder {
  opacity: 0.5;
}

/* ERROR */
.input-error {
  /* style */
  border-radius: 8px;
  border: 1px solid var(--color-red);
  background: var(--color-red-100);
  /* typography */
  color: var(--color-red);
}

.error-message {
  /* typography */
  font-family: var(--font-family-regular);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: var(--color-red);
  /* position */
  position: absolute;
  top: 0;
  right: 0;
}