/* COLORS */
:root {
  /* white */
  --color-white: #FFFFFF;
  /* grey */
  --color-grey: #949494;
  /* blue */
  --color-blue-800: #242742;
  --color-blue-700: #36384D;
  /* slate */
  --color-slate-900: #133041;
  /* red */
  --color-red: #FF6155;
  /* gradient from #FF6A3A to #FF527B */
  --color-gradient: linear-gradient(to right, #FF6A3A, #FF527B);
}

/* SPACING */
:root {
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1100: 88px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
}